body{
 margin: 0;
}

.marron{
    background-color: #784e25;
    color: white;
    height: 4vh;
    display: flex;
    justify-content:space-around;
	align-items: center;
}

.banner_inicial{
    background-color: white;
    height: 12vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-left: 6vw;
    padding-right: 6vw;
 }

 .logito{
    height: 12vh;
 }

 .p1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 10vw;
    gap: 20px;
 }
 
.p1 a{
    text-decoration: none;
    color:#272b2c;
    font-style: italic;
}

.p1 a:hover{ 
    text-decoration:underline !important;
    color:#fcb900;
}

.p2{
    padding-right: 10vw;
    display: flex;
    align-items: center;
    justify-content:end;
}

.boton_buscar{
    background: rgb(134, 188, 66);
    color: white;
    width: 130px;
    padding: 8px;
    border: none;
    border-bottom: 2px rgb(70, 153, 31) solid;
    border-radius: 5px;
    margin-left: 10px;

    cursor: pointer; /* Esto hace que el cursor cambie al pasar sobre el botón */
	transition: background-color 0.3s; /* Agregamos una transición para suavizar el efecto */
}

.boton_buscar:hover {
	background: rgb(70, 153, 31); /* Cambiamos el color de fondo al pasar el cursor sobre el botón */
}

.ofertas_banner{
    height: 40vh;
	background-image: url('https://raw.githubusercontent.com/javasiete/dietetica/main/imgs/ofertas.jpg');
    background-position: center center;
	background-repeat: no-repeat;
    background-size: cover;
 }

 .ofertas_contenedor{
    height: 40vh;
    width: 25vw;
    margin-left: 20vw;
    display: grid; 
    align-content: center;

 }

.nuestras{
    color:#fcb900;
    font-size: 62px;

    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    padding-top: 30px;
    padding-left: 40px;
    padding-right: 30px;

}

.ofertas{
    color:white;
    font-size: 62px;

    display: flex;
    justify-content: end;
    flex-wrap: wrap;
    padding-right: 30px;
    padding-left: 40px;

}

.plancha_boton_notelapierdas{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    padding-top: 30px;
    padding-bottom: 40px;
}

.boton_notelapierdas{
    background: rgb(134, 188, 66);
    color: white;
    width: 130px;
    padding: 8px;
    border: none;
    border-bottom: 2px rgb(70, 153, 31) solid;
    border-radius: 5px;

    cursor: pointer; /* Esto hace que el cursor cambie al pasar sobre el botón */
	transition: background-color 0.3s; /* Agregamos una transición para suavizar el efecto */
}

.boton_notelapierdas:hover {
	background: rgb(70, 153, 31); /* Cambiamos el color de fondo al pasar el cursor sobre el botón */
}

.f1{
    display:flex;
    justify-content:center;
}

.f2{
    display:flex;
    justify-content:center;
}

.linea_medio{
    background-color: lightgreen;
    height: 0.3px;
    width: 25vw;
    margin-top: -12px;
    margin-bottom: 0px;
}

.somos_plancha{
    display:flex;
    width: 95%; /*Está en % porque al BODY le puse "min-height: 100vh;"*/
    justify-content: center;
}

.somos_texto{
    width: 40vw;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align:center; /*Texto Justificado*/
}

.boton_conocenos_plancha{
    display:flex;
    width: 95%; /*Está en % porque al BODY le puse "min-height: 100vh;"*/
    justify-content: center;
    margin-top: 2vh;
    margin-bottom: 4vh;
}

.boton_conocenos{
    background: #fcb900;
    color: white;
    width: 140px;
    padding: 8px;
    border: none;
    border-bottom: 2px #ff6800 solid;
    border-radius: 5px;
}

.boton_conocenos:hover {
	background-color: #ff6800; /* Cambiamos el color de fondo al pasar el cursor sobre el botón */
}

.parteDeArriba_1{
    background: #f1f4ef;
    padding-top: 2vh;
    padding-bottom: 2vh;
    padding-left: 12vw;
    padding-right: 12vw;
    display:flex;
    justify-content: center;
    gap: 10px;
}

.parteDeArriba_1 a{
    text-decoration: none;
    color: white;
}

.imagenCeliacos{
    background-image: url('/imgs/celiacos1.jpg');
    background-position: center center;
	background-repeat: no-repeat;
    background-size: cover;
    height: 20vh;
    width: 40vw;

    color: white;
    font-size: 38px;
    text-shadow: 2px 2px 2px black, 0 2px 2px black;

    display: flex;
	align-items: center;
	justify-content: center;
}

.imagenLegumbres{
    background-image: url('https://raw.githubusercontent.com/javasiete/dietetica/main/imgs/legumbres1.jpg');
    background-position: center center;
	background-repeat: no-repeat;
    background-size: cover;
    height: 20vh;
    width: 40vw;

    color: white;
    font-size: 38px;
    text-shadow: 2px 2px 2px black, 0 2px 2px black;
    text-align: center;

    display: flex;
	align-items: center;
	justify-content: center;
}

.parteDeArriba_2{
    background: #f1f4ef;
    padding-left: 8vw;
    padding-right: 8vw;
    padding-bottom: 2vh;
    display:flex;
    justify-content: center;
    gap: 10px;
}

.parteDeArriba_2 a{
    text-decoration: none;
    color: white;
}

.imagenAlmacen{
    background-image: url('/imgs/almacen.jpg');
    background-position: center center;
	background-repeat: no-repeat;
    background-size: cover;
    height: 20vh;
    width: 40vw;

    color: white;
    font-size: 38px;
    text-shadow: 2px 2px 2px black, 0 2px 2px black;

    display: flex;
	align-items: center;
	justify-content: center;
}

.imagenVeganos{
    background-image: url('/imgs/veganos1.jpg');
    background-position: center center;
	background-repeat: no-repeat;
    background-size: cover;
    height: 20vh;
    width: 40vw;

    color: white;
    font-size: 38px;
    text-shadow: 2px 2px 2px black, 0 2px 2px black;

    display: flex;
	align-items: center;
	justify-content: center;
}

.imagenInfusiones{
    background-image: url('/imgs/infusiones1.jpg');
    background-position: center center;
	background-repeat: no-repeat;
    background-size: cover;
    height: 20vh;
    width: 40vw;

    color: white;
    font-size: 38px;
    text-shadow: 2px 2px 2px black, 0 2px 2px black;

    display: flex;
	align-items: center;
	justify-content: center;
}



.parteDeAbajo{

    background: #272b2c;
    color: white;
    height: 60vh;
    display:flex;
    justify-content:space-around;

}

.parteDeAbajo h2{
    color: #fcb900;
}


.barrita{
    background-color: #fcb900;
    height: 40vh;
    width: 3.50px;
    display: flex;
    margin-top: 3vh;
    margin-right: 1vw;
}

.caja2{
    /*background-color: grey;*/
    /*border: 1px solid black;*/
    display:flex;
}

.listita{
    display: flex;
    flex-direction: column;
    gap:5px;
}

.caja2 a{
    text-decoration: none;
    color: white;
}

.caja2 a:hover{ 
    text-decoration:underline !important;
    color:#fcb900;
}

.caja3{
    /*background-color: grey;*/
    /*border: 1px solid black;*/
    display: flex;

}

.caja4{
    /*background-color: grey;*/
    /*border: 1px solid black;*/
    display: flex;
}

.caja4 a{
    text-decoration: none;
}

.foot{
    background: rgb(32, 31, 31) !important;
    color:white;
    height: 6vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

/*+++++++++++++++++++++ MONITORES ++++++++++++++++++++++++*/

/* Para Monitores o Laptopsv(992px o mas) */
@media only screen and (max-width: 992px){
}

/*+++++++++++++++++++++ TABLETS ++++++++++++++++++++++++*/

/* Para Tablets o Landscapes (768px o mas) */
@media only screen and (max-width: 768px){

    .marron{
        background-color: #784e25;
        color: white;
        height: 10vh;
        display:grid;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
    }

    .banner_inicial {
        height: 22vh;
        padding-top: 1.8vh;
        display: flex;
        flex-direction: column;
        margin-bottom: -1.8vh;
    }

    .p2{
        padding-right: 0;
        display: flex;
        align-items: center;
        justify-content:center;
    }

    .parteDeArriba_1{
        background: #f1f4ef;
        padding-top: 2vh;
        padding-bottom: 2vh;
        padding-left: 12vw;
        padding-right: 12vw;
        display:flex;
        justify-content: center;
        gap: 10px;
    }

    .parteDeArriba_2{
        background: #f1f4ef;
        padding-left: 8vw;
        padding-right: 8vw;
        padding-bottom: 2vh;
        display:flex;
        justify-content: center;
        gap: 10px;
    }

    .nuestras{
        padding-left: 2vw;
        padding-top: 2vh;
    }
    
    .ofertas{
        padding-left: 15vw;
        padding-top: 0vh;
    }

    .plancha_boton_notelapierdas{
        display: normal;
        justify-content: normal;
        align-content: normal;
        padding-top: 0vh;
        padding-bottom: 2vh;
        padding-left: 10vw;
    }


}

/*+++++++++++++++++++++ CELULARES ++++++++++++++++++++++++*/

/* Para Celulares (600px o mas) */
@media only screen and (max-width: 600px){

    .marron{
        background-color: #784e25;
        color: white;
        height: 10vh;
        display:grid;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
    }

    .banner_inicial {
        padding-left: 0;
        padding-right: 0;
    }


    .parteDeArriba_1{
        background: #f1f4ef;
        display:flex;
        flex-direction: column;
        padding-bottom: 0;
        padding-left: 0;
        padding-right: 0;
        align-items: center;
    }

    .parteDeArriba_2{
        background: #f1f4ef;
        display:flex;
        flex-direction: column;
        padding-top: 2vh;
        padding-left: 0;
        padding-right: 0;
        align-items: center;
    }

    .ofertas_contenedor{
        height: 40vh;
        width: 25vw;
        margin-left: 0px;
        display: normal; 
        align-content: normal;
    }

    .nuestras{
        padding-left: 2vw;
        padding-top: 2vh;
    }
    
    .ofertas{
        padding-left: 15vw;
        padding-top: 0vh;
    }

    .plancha_boton_notelapierdas{
        display: normal;
        justify-content: normal;
        align-content: normal;
        padding-top: 0vh;
        padding-bottom: 2vh;
        padding-left: 10vw;
    }

    .imagenCeliacos{
        width: 70vh;
    }

    .imagenLegumbres{
        width: 70vh;
    }

    .imagenAlmacen{
        width: 70vh;
    }

    .imagenVeganos{
        width: 70vh;
    }

    .imagenInfusiones{
        width: 70vh;
    }

    .parteDeAbajo {
        height: 220vh;
        display: flex;
        flex-direction: column;
        align-items: center;    
    }

    .barrita{
        display: none;
    }

    .parteDeAbajo .h2{
        text-decoration:underline;
    }

    .caja1{ /*Logo de la Dietetica*/
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .contenido_2{ /*Nuestros Productos*/
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .listita{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .contenido_3{ /*Donde estamos*/
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .contenido_4{ /*Contactanos y Seguinos*/
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;
    }







} /*Fin de Media Querie*/