body{
	margin-top:0;
	margin-left: 0px;
}

.titular{
	background: #9f3647;
}

.arribaIzq{
	
	border: solid 1px black;
	color: white;

	height: 5vh;
	display: inline-block;
	width: 45vw;

}

.arribaDer{
	border: solid 1px black;
	color: white;

	height: 10vh; 
	display: inline-block;
	width: 45vw;
	padding-top: 2vh;
	padding-left: 2vw;


}

.tendencias{
	border: solid 1px black;
	padding-left: 15vw;
	padding-right: 2vw;
}

.registrate{
	border: solid 1px black;
	padding-right: 2vw;

}

.iniciaSesion{
	border: solid 1px black;
	padding-right: 2vw;
}