body{
    margin:0;
    background: rgb(160, 160, 160);
    min-height: 100vh; /*Ahora podemos trabajar con porcentajes del 100%*/
}

.plancha{
    background-color: grey;
    display:flex;
     /*Dividi en 1 fr al Contenedor Principal*/
    width: 95%; /*Ocupa el 95% del ancho de la pantalla*/
    margin: 30px auto; /*Pusimos margenes de arriba y de abajo*/
    padding: 10px;
    justify-content: center;


}

.caja_de_texto{
    background: lightpink;
    border: black solid 3px;
    height: 30vh;
    width: 30vw;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: justify; /*Texto Justificado*/
}
